.\am335x_project\5_socket\2_udp\build\*
am335x_project/5_socket/2_udp/build/cmake_install.cmake
am335x_project/5_socket/2_udp/build/udp_client
am335x_project/5_socket/2_udp/build/Makefile
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/progress.make
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/link.txt
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/flags.make
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/DependInfo.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/depend.make
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/depend.internal
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/cmake_clean.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/client.c.o
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/C.includecache
am335x_project/5_socket/2_udp/build/CMakeFiles/udp_client.dir/build.make
am335x_project/5_socket/2_udp/build/CMakeFiles/TargetDirectories.txt
am335x_project/5_socket/2_udp/build/CMakeFiles/progress.marks
am335x_project/5_socket/2_udp/build/CMakeFiles/Makefile2
am335x_project/5_socket/2_udp/build/CMakeFiles/Makefile.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
am335x_project/5_socket/2_udp/build/CMakeFiles/CompilerIdCXX/a.out
am335x_project/5_socket/2_udp/build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
am335x_project/5_socket/2_udp/build/CMakeFiles/CompilerIdC/a.out
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeSystem.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeOutput.log
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeDirectoryInformation.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeCXXCompiler.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/CMakeCCompiler.cmake
am335x_project/5_socket/2_udp/build/CMakeFiles/cmake.check_cache
am335x_project/5_socket/2_udp/build/CMakeCache.txt
